%html
  %head
    %title Cloudkick Alerts
    %link{'href' => 'bootstrap.min.css', 'rel' => 'stylesheet'} 
    :css
      body {
        background-color: black;
      }
      .container-fluid {
        padding-top: 40px 
      }
      .title {
        color: white;
      }
  %body
    .container-fluid
      .sidebar
        About cloudkick alerts 
      .content
        %form{:action => '/register', :method => 'post'}
          .clearfix
            %label.large{:for => 'key'} Consumer key
            .input
              %input{:type => 'text', :name=> 'key'}
          .clearfix
            %label.large{:for => 'key'} Consumer secret 
            .input
              %input{:type => 'text', :name=> 'secret'}
          .clearfix
            %input.btn.large.primary{:type => 'submit', :name=> 'Register', :value => 'Register'} 
